<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand cursor-pointer">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-grow-1">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link cursor-pointer" routerLink="/recipe-book">Recipes</a>
      </li>
      <li class="nav-item mr-auto" routerLinkActive="active">
        <a class="nav-link cursor-pointer" routerLink="/shopping-list">Shopping List</a>
      </li>
      <li class="nav-item dropdown cursor-pointer" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle>Manage</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" ngbDropdownItem>Action</a>
          <a class="dropdown-item" ngbDropdownItem>Another action</a>
          <a class="dropdown-item" ngbDropdownItem>Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
