<div class="row">
  <div class="col">
    <button class="btn btn-success" [ngClass]="selectedRecipe ? 'mr-1' : null">New Recipe</button>
    <button class="btn btn-primary" *ngIf="selectedRecipe" (click)="clearRecipeSelected()">Close Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 col-md-6 col-xl-4">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-12 col-md-6 col-xl-8">
    <app-recipe-detail
      *ngIf="selectedRecipe;else noRecipeSelected"
      [selectedRecipe]="selectedRecipe"></app-recipe-detail>
    <ng-template #noRecipeSelected>
      <h3 class="text-center">Please select a recipe!</h3>
    </ng-template>
  </div>
</div>
