<div class="row">
  <div class="col-12 col-xl-6">
    <img [src]="selectedRecipe.imagePath" alt="{{selectedRecipe.name}}" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12 col-xl-6">
    <h1>{{selectedRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 col-xl-6">
    <div class="dropdown" ngbDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" ngbDropdownToggle>
        Manage recipe
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li class="dropdown-item cursor-pointer" ngbDropdownItem (click)="toShoppingList()">To Shopping List</li>
        <li class="dropdown-item cursor-pointer" ngbDropdownItem>Edit Recipe</li>
        <li class="dropdown-item cursor-pointer" ngbDropdownItem>Delete Recipe</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-xl-6">
    {{selectedRecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12 col-xl-6">
    <h4>Ingredients:</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of selectedRecipe.ingredients">{{ingredient.name}} ({{ingredient.amount}})</li>
    </ul>
  </div>
</div>
