<div class="row">
  <div class="col">
    <img [src]="selectedRecipe.imagePath" alt="{{selectedRecipe.name}}" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>{{selectedRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="dropdown" ngbDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button" ngbDropdownToggle>
        Manage recipe
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li class="dropdown-item" ngbDropdownItem>To Shopping List</li>
        <li class="dropdown-item" ngbDropdownItem>Edit Recipe</li>
        <li class="dropdown-item" ngbDropdownItem>Delete Recipe</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {{selectedRecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col">
    Ingredients
  </div>
</div>
